@model QuizApp.Models.Notification

@{
    Layout = null;
}

<title>@Model.NotifyContent</title>
<div>
    <object style="width: 75%; height: 100%; border: none; display: block; margin: 0 auto;" data="~/contentfiles/@Model.NotifyContent"></object>
</div>
