@model QuizApp.Models.Notification

@{
    Layout = null;
}

<title>@Model.NotifyContent</title>
<div>
    <iframe src="~/contentfiles/@Model.NotifyContent"
            style="width: 75%; height: 100%; border: none; display: block; margin: 0 auto;"></iframe>
</div>
